<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
                <h1 th:text="${title}" class="text-secondary"></h1>
            </div>
            <div class="card-body">
                <div th:object="${customer}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
                    </ul>
                </div>
                <form th:action="@{/form}" th:object="${customer}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{name} " class="form-control"
                                   th:errorclass="'form-control alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                                   th:errors="*{name}"> </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Apellido</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{surname}" class="form-control"
                                   th:errorclass="'form-control alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('surname')}"
                                   th:errors="*{surname}"> </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{email}" class="form-control"
                                   th:errorclass="'form-control alert-danger'">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}"> </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Fecha</label>
                        <div class="col-sm-6">
                            <input type="text" th:field="*{createdAt}" class="form-control"
                                   th:errorclass="'form-control alert-danger'" placeholder="yyyy-MM-dd">
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('createdAt')}"
                                   th:errors="*{createdAt}"> </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="file" class="col-sm-2 col-form-label">Foto</label>
                        <div>
                            <input id="file" type="file" name="file" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-form-label">
                            <input type="submit" th:if="${id != null}" th:value="${'Editar Cliente'}" class="btn btn-primary">
                            <input type="submit" th:if="${id == null}" th:value="${'Crear Cliente'}" class="btn btn-primary">
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}">
                </form>
            </div>
        </div>
    </div>
</body>
<footer th:replace="layout/layout :: footer"></footer>
</html>