<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
    <div class="card mt-3">
        <div class="card-header d-flex flex-row justify-content-between align-items-center">
            <h1 class="text-secondary" th:text="${title}"></h1>
            <div>
                <a th:href="@{/form}" class="btn btn-success btn-xs"> Crear cliente</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>correo</th>
                    <th>fecha</th>
                    <th>acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.id}"></td>
                    <td th:text="${cliente.name}"></td>
                    <td th:text="${cliente.surname}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.createdAt}"></td>
                    <td>
                        <a class="btn btn-primary btn-xs fas fa-pencil-alt" th:href="@{/form/} + ${cliente.id}"
                           th:text="''"></a>
                        <a class="btn btn-danger btn-xs fas fa-trash" th:href="@{/eliminar/} + ${cliente.id}"
                           th:text="''" onclick="return confirm('Esta seguro de querer eliminar el dato?');"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav th:replace="paginator :: paginator"></nav>
        </div>
    </div>
</div>
</body>
<footer th:replace="layout/layout :: footer"></footer>
</html>